#!/usr/bin/env xdg-open
[Desktop Entry]
Name=S3 Bucket Diver
Comment=Browse and manage S3-compatible storage services
Exec=s3-bucket-diver
Icon=io.github.jonathands.S3BucketDiver
Terminal=false
Type=Application
Categories=Network;FileManager;
StartupNotify=true
Keywords=S3;storage;cloud;file;manager;bucket;